.main-container {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: row;
    border-top: 2px solid black;
    padding-top: 1rem;
}

.main-nav {
    float: left;
    width: 25%;
    height: 98vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin-right: 1rem;
}

.main-nav>button {
    padding: 0.4rem;
    width: 90%;
    margin: 0.2rem;
    border: 0;
    border-radius: 4px;
    font-family: monospace;
    font-size: x-large;
}

button:hover {
    background-color: darkgray;
}

button:active {
    border: 2px solid red;
}

.main-container>section {
    border: 2px solid black;
    width: 74%;
    height: 98vh;
    border-radius: 1rem;
}

section>header {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    font: bolder;
    font-size: x-large;
    background-color: white;
    padding: 0.5rem;
}
